.indexPage {
  background: #5DBFD8;

  .title {
    color: white;
    padding-top: 48px;
    text-align: center;
  }

  .subTitle {
    color: white;
    margin-top: 48px;
  }

  .enterBtn {
    margin-top: 150px;
    width: 60vw;
  }

  .headerBg {
    margin-top: 100px;
    height: 300px;
  }
}
